{% extends 'base.html.twig' %}

{% block stylesheets %}
<!--
<link rel="stylesheet" href="/assets/css/searchbar.css">
<link rel="stylesheet" href="/assets/css/container.css">
<link rel="stylesheet" href="/assets/css/table.css">
<link rel="stylesheet" href="/assets/css/sort.css">
<link rel="stylesheet" href="/assets/css/button.css">
-->
<link rel="stylesheet" href="/assets/css/container.css">
<link rel="stylesheet" href="/assets/css/table.css">

<link rel="stylesheet" href="/assets/css/button.css">

{% endblock %}

{% block content %}
<h1>Gestion des alertes</h1>

<div class="add-btn-container">
        <a href="/stock/alert/add">
            <button class="add-btn">+ alerts</button>
        </a>
    </div>


<hr>


<h2>RESULTAT</h2>
<div class="section-container">
{% if alerts is empty %}
        <span class="no-action">No alerts</span>

{% else %}
   


<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Nom</th>
            <th>Seuil</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for alert in alerts %}
        <tr>
            <td>{{ alert.sku|e }}</td>
            <td>{{ alert.name|e }}</td>
            <td>{{ alert.threshold|e }}</td>
            <td>
        <div class="form-button-container">
            <!-- Bouton Edit -->
            

            <!-- Bouton Delete -->
            <form method="POST" action="/stock/alert/delete">
                <input type="hidden" name="id_product" value="{{ alert.id_product }}">
                <button type="submit" class="form-delete-btn"
                        onclick="event.stopPropagation(); return confirm('Supprimer ce produit ?');">
                    Delete
                </button>
            </form>
        </div>
</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
   
    {% endif %}
    
</div>



{% endblock %}
{% block javascripts %}




{% endblock %}