{% extends 'base.html.twig' %}

{% block title %}Accueil - Trouve ton stage{% endblock %}

{% block content %}
<h2>Modifier le produit</h2>

<form method="POST">
        <label for="username">VEUILLEZ SAISIR VOTRE E-MAIL</label>
        <input type="text" id="username" name="username" required>
        <div class="errorInput" id="emailError"></div>

    <button type="submit">Enregistrer</button>
</form>


{% endblock %}