{% extends 'base.html.twig' %}

{% block title %}Accueil - Trouve ton stage{% endblock %}

{% block content %}

<div>



{% if user_type == 'admin' or user_type == 'manager'  %}
    <a href="users/add">
            <button>Add users</button>
    </a>
    
{% endif %}

{% if comptes is empty %}
        <p>Aucun compte trouvé.</p>
{% else %}

<table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for compte in comptes %}
                <tr>
                    <td>{{ compte.id_user }}</td>
                    <td>{{ compte.email}}</td>
                    <td>{{ compte.type}}</td>
                    
                  

                </tr>
                {% endfor %}
            </tbody>
        </table>     

{% endif %}
</div>


{% endblock %}
