table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0; /* Espace entre les cellules */
    width: 100%;
    margin-top: 20px;
    font-family: Arial, sans-serif;

}


th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


td.qty-column, td.name-column, td.sku-column, td.total-column{
    width:25%; /* largeur de la colonne */
}
